.app-header-container {
  padding: 5px;
  height: 40px;
  box-shadow: 0px 1px 3px rgba(36, 59, 85, 0.5);
  z-index: 999;

  .hamburger-menu-button{
    padding: 5px;
    width: 30px;
    cursor: pointer;
    transition: margin 0.6s;      

    &.menu-open {
      margin-left: 250px;
      margin-top: 3px;
      color: #ffffff;
    }

    &.menu-closed {
      margin-left: 20px;
    }
  }
}